
/*
    Created on : 29-mars-2019, 19:25:38
    Author     : Alexis
*/

// --- variables ---------------------------------------------------------------
$fontsizedefault: 16;
$rupture_md: 400;
$rupture_xl: 1024;

$color_ssmenu: #BBA9A7;
$color_menu: black;
$color_ariane: #A6D1E4;
$color_w: white;
$color_b: black;
$color_g: grey;
$color_ishop_txt: #3E4A51;
$color_contactlightblue: #D3E8F2;
$color_contactdarkblue: #A6D1E4;

@mixin noborder(){
    border: none!important;
}

@mixin border_articlesmartphone(){
    border-top: fn_pxtorem(1) solid grey;
    border-left: none!important;
    border-bottom: fn_pxtorem(1) solid grey;
    border-right: none!important;
}


@mixin espace_bas(){
    margin-bottom: 1rem;
}
@mixin espace_haut(){
    margin-top: 1rem;
}
@mixin espace_padtop(){
    padding-top: 1rem;
}
@mixin espace_droite(){
    margin-right: 1rem;
}


@mixin margin_applic($margeall,$margedefault,$margetop,$margeright,$margebottom,$margeleft){
    @if ($margeall == "yes"){
        margin: $margedefault + rem;
    } @else {
        margin-top: $margetop + rem;
        margin-right: $margeright + rem;
        margin-bottom: $margebottom + rem;
        margin-left: $margeleft + rem;
    }
}


@mixin remove_margintopspace($valueinrem){
    margin-top: $valueinrem + rem;
}


// --- fn_pxtorem :: fonction (conversion px en rem)
@function fn_pxtorem ($sizeinpixel){
    $resultat: ($sizeinpixel / $fontsizedefault);
    @return $resultat + rem;
}

@mixin format_paddingmargin ($ptop,$pright,$pbottom,$pleft,$mtop,$mright,$mbottom,$mleft){
    @if ($ptop > 0){
        padding-top: $ptop + rem;
    }
    @if ($pright > 0){
        padding-right: $pright + rem;
    }
    @if ($pbottom > 0){
        padding-bottom: $pbottom + rem;
    }
    @if ($pleft > 0){
        padding-left: $pleft + rem;
    }
    @if ($mtop > 0){
        margin-top: $mtop + rem;
    }
    @if ($mright > 0){
        margin-right: $mright + rem;
    }
    @if ($mbottom > 0){
        margin-bottom: $mbottom + rem;
    }
    @if ($mleft > 0){
        margin-left: $mleft + rem;
    }
}

@mixin borderview (){
    // --- 1px (rentre dans le calcul - fait apparaître l'ascensseur horizontal')
    border: 1px solid purple;
}

@mixin font_titre {
    font-family: 'Open Sans', sans-serif;
}

$resetsizedefaultbloc: calc(100% / 12 * 1);
/* --- Technique spécialement développée sur mes connaissances en codage pour
   optimiser la construction des pages --- */
@mixin optim (){
    flex-basis: $resetsizedefaultbloc;
    display: block!important; // remove important

}

@mixin autocentrage {
    // permet d'autocentrer un element horizontalement
    margin-left: auto;
    margin-right: auto;
}

@mixin font_opensans {
    font-family: 'Open Sans';
}

@mixin format_border($borderyesno,$bordertopsize,$borderrightsize,$borderbottomsize,$borderleftsize,$bordertype,$borderallcolor,$bordercolortop,
$bordercolorright,$bordercolorbottom,$bordercolorleft) {
    @if ($borderyesno == "no"){
        // si $borderyesno == no : aucune bordure.
        border: none!important;
    }@else {
        // sinon : bordure est présente.
        @if ($borderallcolor == "no"){
            // si $borderallcolor == no : bordures peuvent avoir des couleurs différentes.
            @if ($bordertopsize == 0){
                border-top: none!important;
            }@else {
                border-top: $bordertopsize + rem + ' ' + $bordertype + ' ' + $bordercolortop;
            }
            @if ($borderrightsize == 0){
                border-right: none!important;
            }@else {
                border-right: $borderrightsize + rem + ' ' + $bordertype + ' ' + $bordercolorright;
            }
            @if ($borderbottomsize == 0){
                border-bottom: none!important;
            }@else {
                border-bottom: $borderbottomsize + rem + ' ' + $bordertype + ' ' + $bordercolorbottom;
            }
            @if ($borderleftsize == 0){
                border-left: none!important;
            }@else {
                border-left: $borderleftsize + rem + ' ' + $bordertype + ' ' + $bordercolorleft;
            }

        }@else {
            // bordures seront toutes de la même couleur (! possibilite d'avoir 3 côté uniquement !).
            @if ($bordertopsize == 0) {
                border-top: none!important;
            }@else {
                border-top: $bordertopsize + rem + ' ' + $bordertype + ' ' + $borderallcolor;
            }
            @if ($borderrightsize == 0){
                border-right: none!important;
            }@else {
                border-right: $borderrightsize + rem + ' ' + $bordertype + ' ' + $borderallcolor;
            }
            @if ($borderbottomsize == 0){
                border-bottom: none!important;
            }@else {
                border-bottom: $borderbottomsize + rem + ' ' + $bordertype + ' ' + $borderallcolor;
            }
            @if ($borderleftsize == 0){
                border-left: none!important;
            }@else {
                border-left: $borderleftsize + rem + ' ' + $bordertype + ' ' + $borderallcolor;
            }
        }

    }

}

@mixin nodecoration_andcolor($color){
    text-decoration: none;
    color: $color;
}

@mixin formatage_vintage_titre {
    @include font_opensans();
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 3rem;
}

@mixin formatage_menu {
    @include font_opensans();
    @include format_paddingmargin(0.5,0,0.5,0,1,0,1,0);
    @include format_border("yes",0,0,0.3,0,"solid","white","white","white","white","white");
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    &:hover{
        @include format_border("yes",0,0,0.3,0,"solid","no",0,0,$color_ssmenu,0);
    }
}

@mixin formatage_ariane{
    @include format_paddingmargin(1,0,1,0,0,0,0,0);
    @include format_border("no",0,0,0,0,"","","","","","");
    background-color: $color_ariane;
    text-transform: uppercase;
    color: $color_w;
    font-size: 1.2rem;
}



/* =============================================================================
            Vue SMARTPHONE
============================================================================= */

* {
    box-sizing: border-box;
}

html {
    body {
        @include espace_haut();
    }
}


body, .container, .sous-container {
    margin: 0rem;
    width: 100%;
    //@include borderview();

    // Développer initialement en mode computer : héritage fonctionnel - convient à un positiionnement mobile First
    [class$="titre-imagetitre"]{
        @include formatage_vintage_titre();
        div:first-child {
            background-image: url("../img/vintage_logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            line-height: 3rem;
            margin-right: 1rem;

            a {
                // consigne : logo cliquable ramenant à la page d'accueil'
                text-decoration: none;
            }
        }
    }

    [class$="titre-bouton"]{
        text-align: center;
        margin:auto;
        justify-content: space-arround;
        form {
            input {
                @include format_paddingmargin(0.5,0,0.5,0.5,0,0,0,0);
                border: 1px solid grey;
            }
            input:first-child{
                width: 80%;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            input:last-child{
                width: 20%;
                color: $color_w;
                background-color: $color_ariane;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }

    // Développer initialement en mode computer : héritage fonctionnel - convient à un positiionnement mobile First
    [class*="menu_"]{
        @include formatage_menu();

        a {
            @include nodecoration_andcolor($color_menu);
        }
    }

    // Développer initialement en mode computer : héritage fonctionnel - convient à un positiionnement mobile First
    #zone-ici{
        @include formatage_ariane ();
        span {
            color: $color_b;
        }
    }
}

#zone-banniere{

    @include espace_bas();

    .banniere_img{
        background-image: url("../img/slide.jpg");
        background-repeat: no-repeat;
        height: fn_pxtorem(222);
        background-position: left 70%;
        background-size: cover;
        /* definition: cover
            Un mot-clé dont le comportement est opposé à celui de contain.
            L'image est redimensionnée pour être aussi grande que possible et pour
            conserver ses proportions. L'image couvre toute la largeur ou la hauteur
            du conteneur et les parties qui dépassent sont rognées si les proportions
            du conteneur sont différentes (il n'y aucun espace libre sur lequel
            on verrait la couleur d'arrière-plan).align-content:
        */
        resize: both;
        overflow: hidden;
    }
}


#zone-titre, #zone-menu, #zone-ici, #zone-map, #zone-info, #zone-contact, #zone-pub, #zone-banniere, #zone-deploiement, #zone-deploiement-detail, #zone_infocontact {
    display: flex;
    flex-wrap: wrap;
}

// Inverse pub-col1 avec pub-col2
#zone-pub{
    flex-direction: column-reverse;

    .gazzda{
        background-image: url("../img/gazzda.jpg");
        background-repeat: no-repeat;
        height: fn_pxtorem(222);
        max-width:100%;
        max-height:100%;
        @include espace_bas();
        @include espace_haut();
    }


    #pub-col2{
        
        #col2_cadre1 {
            /* ! information ===================================================
                    Dans ma vue "computer", la hauteur de mon bloc pub-col2 est
                définit par la hauteur de Gazzda et des 3 sous-images qui font 
                parties de pub-col1. Mais ici puisque pub-col1 est masqué, cela 
                est impossible. Je fixe donc la hauteur de mon pub-col2 manuellement
                en rem afin de ne pas utiliser directement des px comme demandé.
               ================================================================= */
            
            /* ! information ===================================================
                Je suis parvenu à fixer les 3 vues : smartphone, tablette et 
                computer mais en restant dans des écrans de taille spécifique.
                Ce problème est certainement du à l'absolu couplé à z-index. Si 
                j'avais du développer une solution personnelle, je m'y serais pris
                autrement pour éviter cette problématique. non testé : je me demande
                quel serait le résutlat d'un floatage couplé à z-index.
                Sur ce principe : ça fonctionne mais je ne suis pas très satisfait
              =================================================================== */
                
            height: 13rem;
            background-image: url(../img/i-shop-sundays_1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            max-height: 100%;
        }        
        
        #col2_cadre2{
            height: 13rem;
            background-image: url(../img/home_page_corner.png);
            background-repeat: no-repeat;
            background-position: bottom right;
            position: relative;
            
            #ouverture_heures{
                position: absolute;
                z-index: 1;
                color: $color_ishop_txt;
                font-size: 1.8rem;
                text-align: left;
                margin-left: 1rem;
                padding-right: 8rem;
                padding-bottom: 2rem;
                background-color: $color_w;            
            }
            
            #ouverture_dates {                
                position: absolute;
                z-index: 2;           
                font-size: 0.9rem;
                line-height: 1rem;
                ul {
                    list-style: none; 
                    margin-top: 7rem;
                    margin-left: -1.5rem;
                    li:before{
                       content: "- "; 
                    }                    
                }
            }
            
            #ouverture_suite{
                position: absolute;
                z-index: 3;
                background-color: $color_w;
                font-size: 0.9rem;
                margin-top: 11rem;
                margin-left: 14rem;
                padding: 0.25rem;
                line-height: 1rem;
                border-radius: fn_pxtorem(5);
            }
        }
    }
}

[class*="sm"],[class*="md"],[class*="xl"],#pub-col2, .deploiement-menu, .deploiement_droite{
    @include borderview();
}

/* temporairement*/
[class*="partsall_ln2"]{
    border-top: none!important;
    border-right: none!important;
    border-left: none!important;
}
/* temporairement*/
[class*="partsici_ln3"],.titre-imagetitre,.titre-bouton, #zone-banniere, .banniere_img,
.index_ln5sm_01, .index_ln5sm_02, .index_ln5sm_03, .index_ln5sm_04, #pub-col2, .contact_contactez, .contact_gauche, .info_detail, #zone_infocontact, #infocontact_info, #infocontact_contact{
    border: none!important;
}


.contact_ln4sm_01{
    flex-basis: calc(100% / 12 * 0);
}

.partsall_ln1sm_02, .partsall_ln1sm_04{
    flex-basis: calc(100% / 12 * 2);
}

.detail_ln4sm_02,.detail_ln4sm_03,.detail_ln4sm_04,.detail_ln4sm_05 {
    flex-basis: calc(100% / 12 * 3);
}

.ligne_partie_gauche, .ligne_partie_droite{
    flex-basis: calc(100% / 12 * 6);
}

.partsall_ln1sm_03{
    flex-basis: calc(100% / 12 * 8);
}

.partsall_ln1sm_01,
.partsall_ln2sm_01, .partsall_ln2sm_02, .partsall_ln2sm_03, .partsall_ln2sm_04, .partsall_ln2sm_05,
.partsici_ln3sm_01,
.contact_ln6sm_01, .contact_ln6sm_02, .contact_ln6sm_03,
#pub-col2,
.deploiement-menu,
.deploiement-article_sm,
.article-souscontainer_sm,
.catalogue_ln4sm_02, .catalogue_ln4sm_03, .catalogue_ln4sm_04,
.deploiement_gauche, .deploiement_droite,
.detail_ln4sm_01,
.index_ln5sm_01,
#pub-col1,
.contact_contactez, #form-contact, .contact_gauche, .contact_droit,
#zone_infocontact, #infocontact_info,#infocontact_contact,
#contenu_gauche, #contenu_droit,
#info_titre,#info_contenu,#contact_titre,#contact_contenu{
    flex-basis: calc(100% / 12 * 12);
}


.deploiement_gauche, .deploiement_droite{
    width: 100%;
    display: flex;
}

.partsall_ln1sm_02, .partsall_ln1sm_04{
    visibility: hidden;
}

.contact_ln4sm_01,
.catalogue_ln4sm_01,
.index_ln4sm_01,
.index_ln5sm_02,.index_ln5sm_03,.index_ln5sm_04n,
.contact_droit,
#contenu_droit,
.sous_menu{
    display: none;
}

.gauche_one {
    display: flex;
    width: 20%;
}
.gauche_four {
    display: flex;
    width: 80%;
}

.detail_all{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .detail_type {
        font-weight: bold;
        @include margin_applic("no",0,1,0,0,1);
    }
    .detail_information {
        @include margin_applic("no",0,0,0,0.5,1);
    }
}



.contact_contactez,.info_detail{
    background-color: $color_contactlightblue;
    font-size: 3rem;    
    @include format_paddingmargin(0,0,0,0,1,0,0,0);
    p {
        @include margin_applic("no",0,1,0,1,0);
    }
}

.formulaire-gauche,.formulaire-droite, .detail_all{
    background-color: $color_contactdarkblue;
}

#form-contact{
    
    background-color: $color_contactdarkblue;
    
    section {
        article {
            // Force implicitement l'affichage en ligne
            @include margin_applic("yes",1,0,0,0,0);
            .ligne_partie_gauche{
                @include margin_applic("no",0,0,0,0.25,0);
            }
            .ligne_partie_droite{
                background-color: pink;                
                input{
                    width: 100%;
                }
            }
            textarea {
                width: 100%;
                height: 7rem;
            }            
        }
    }
    #contact-btn-envoyer{           
        //correspond à l'emplacement de la newsletter
        article:first-child {
           display: flex;           
            
           div:first-child{
                width: 10%;
                text-align: left;
               }
           div:last-child{
                width: 90%;
                text-align: right;
                }
            }       
        
        //correspond à l'emplacement du bouton envoyé.
        article:last-child{
            text-align: right;
            button {
                text-transform: uppercase;
                width: 40%;
                @include format_paddingmargin(1,1,1,1,0,0,0,0);
                font-weight: bold;
                color: $color_contactdarkblue;
                background-color: $color_w;
                border-radius: fn_pxtorem(10);
            }
        }
    }
    
    
    
    
    
    
}

/* Grosse modification */
#zone_infocontact{
    @include margin_applic("no",0,1,0,1,0);
    display: flex;
    flex-direction: column;
    
    #infocontact_info{
        margin-bottom: 1rem!important;
        background-color: $color_contactdarkblue;
        #info_titre {
            background-color: $color_contactlightblue;
            @include format_paddingmargin(1,0,1,0,0,0,0,0);
            font-size: 2.5rem;
        }
        #info_contenu{
            
            .info_contenu_type{
                font-weight: bold;
                @include margin_applic("no",0,0.5,0,0,1);
            }
            .info_contenu_info{
                @include margin_applic("no",0,0,0,0,1);
            }
            .info_contenu_info:last-child{
                @include margin_applic("no",0,0,0,0.5,1);
            }
        }
    }
    
    #infocontact_contact{
        background-color: $color_contactdarkblue;
        #contact_titre{
            background-color: $color_contactlightblue;
            @include format_paddingmargin(1,0,1,0,0,0,0,0);
            font-size: 2.5rem;
        }
        #contact_contenu{
            
            #contenu_gauche{
                
                #newsletter{
                    display:flex;                  
                    div {
                        display: inline-block;
                    }
                    
                    div:first-child{
                        width: 10%;
                        text-align: left;
                    }
                    div:last-child{
                        width: 90%;
                        text-align: right;
                    }
                }
                
                #contact-btn-envoyer{
                    text-align: right;
                    button {
                        width: 45%;
                        border-radius: fn_pxtorem(10);
                        @include format_paddingmargin(1,1,1,1,0,0,0.5,0);
                        background-color: $color_w;
                        text-transform: uppercase;
                        color: $color_contactdarkblue;
                        font-weight: bold;
                    }
                }
                
                .gauche_ligne{
                    @include format_paddingmargin(0,0,0,0,0.5,1,0.5,1);
                    .in_ligne_cotgauche,.in_ligne_cotdroite{
                        flex-basis: (100% / 12 * 12);
                    }                
                    textarea{
                        width: 100%;
                        height: 10rem;
                    }                       
                
                    .in_ligne_cotdroite{
                        input{
                            width: 100%;
                        }
                    }                
                }
            }            
        }
    }
    
    /*  ************************************************************************ */
}

#zone-deploiement{
    .deploiement-menu{
        @include noborder();
        ul{            
            list-style: none;    
            padding: 0;
            margin-right: 2rem;
            a {
                color: black;
                text-decoration: none;
            }
            .menu{                
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: bold; 
                border-bottom: fn_pxtorem(1) solid grey;
                margin-bottom: 0.5rem;
            }
            .menu::before{
                content: "--";
                color: transparent;
            }
            .menu:hover{
                background-color: $color_ariane;
            }
            .sous_menu{
                margin-left: 0.5rem;
            }
        }        
    }
    .deploiement-article_sm{
        @include noborder();
        .article-souscontainer_sm:first-child{
            @include border_articlesmartphone();
            margin-top: 0!important;
        }
        
        .article-souscontainer_sm{
            @include border_articlesmartphone();
            padding-right: 2rem;
            padding-left: 0.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            .souscontainer-gauche{

            }
            .souscontainer-droite{
                .model{
                    @include noborder();
                    margin-top: 1rem;
                    color: $color_ariane;
                    font-weight: bold;
                    font-size: 1.9rem;
                }
                .texte{
                    @include noborder();
                    padding-top: 1rem;
                    padding-bottom: 0.5rem;
                }
                .prix {
                    @include noborder();
                    text-align: right;
                    background-color: $color_ariane;
                    font-weight: bold;
                    color: $color_w;
                    padding-top: 0.1rem;
                    padding-bottom: 0.1rem;
                    padding-right: 0.1rem;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}



/* =============================================================================
            Vue TABLETTE
============================================================================= */
@media only screen and (min-width: fn_pxtorem($rupture_md)){
    
    .isl_google{
        border: none!important;
    }

    #zone-info, #zone-contact {
        width: 50%;
    }
    
    #zone-info {
        float: left;
    }

    // Permet de remettre dans le bon sens l'inversion du smartphone entre pub-col1 et pub-col2
    #zone-pub{
        flex-direction: row;
    }

    [class*="sm"], .partsall_ln1md_04 {
        flex-basis: calc(100% / 12 *  0);
    }

    .gauche_four {
        flex-basis: calc(100% / 12 *  2);
    }

    .partsall_ln1md_02, .partsall_ln1md_03,
    #pub-col2{
        flex-basis: calc(100% / 12 *  3);
    }

    .deploiement-menu{
        flex-basis: calc(100% / 12 *  3);
    }

    .index_ln5md_02,.index_ln5md_03,.index_ln5md_04{
        flex-basis: calc(100% / 12 *  4 - 1rem)!important;
    }
    .index_ln5md_01{
        flex-basis: calc(100% - 1rem)!important;
    }



    .partsall_ln2md_01, .partsall_ln2md_02, .partsall_ln2md_03, .partsall_ln2md_04, .partsall_ln2md_05{
        flex-basis: calc(100% / 5);
    }

    .partsall_ln1md_01,
    .contact_ln6md_02,
    .contact_ln6md_03,
    .deploiement_gauche, .deploiement_droite,
    #zone-info, #zone-contact{
        flex-basis: calc(100% / 12 *  6);
    }    

    #contenu_gauche,#contenu_droit{
        flex-basis: calc(100% / 12 *  6 - 0.10rem);        
    }
    
    #infocontact_info{
        flex-basis: calc(100% / 12 *  4 - 0.5rem);
    }
    #infocontact_contact{
        flex-basis: calc(100% / 12 *  8 - 0.5rem);
    }
    
    

    .deploiement-article_md{
        flex-basis: calc(100% / 12 *  9);
    }


    #pub-col1{
        flex-basis: calc(100% / 12 *  9);
    }

    .gauche_one {
        flex-basis: calc(100% / 12 *  10);
    }

    .partsici_ln3md_01,
    .contact_ln4md_01,
    .contact_ln6md_01,
    .article-souscontainer_md,
    .catalogue_ln4sm_01, .catalogue_ln4md_01, .catalogue_ln4md_02, .catalogue_ln4md_03, .catalogue_ln4md_04,
    .detail_ln4md_01, .detail_ln4md_02, .detail_ln4md_03, .detail_ln4md_04, .detail_ln4md_05,
    #zone_infocontact,
    #info_titre,#info_contenu,#contact_titre,#contact_contenu{
        flex-basis: calc(100% / 12 *  12);
    }

    .gauche_four{
        flex-wrap: wrap;
    }

    .partsall_ln1md_04, .index_ln4md_01{
        display: none;
    }

    .contact_ln4md_01,
    #pub-col1,
    .catalogue_ln4md_01,.index_ln5md_02,.index_ln5md_03,.index_ln5md_04,
    #contenu_droit, .sous_menu{
        display: block;
    }

    #pub-col1, .article-souscontainer_md {
        display: flex;
        flex-wrap: wrap;
    }

    .souscontainer-gauche, .souscontainer-droite {
        width: 50%;
    }

    #zone-pub{


        #pub-col1 > *:not(first-child) {
            @include margin_applic("no",0,1,1,0,0);
            height: fn_pxtorem(140);
        }

        #pub-col1 > * {
            @include margin_applic("no",0,0,1,0,0);
        }

        #pub-col1{
            .gazzda{
                @include margin_applic("yes",0,0,0,0,0);
                height: fn_pxtorem(222);
            }

            .liam{
                background-image: url("../img/liam-fr.jpg");
                background-repeat: no-repeat;

                background-size: cover;
                resize: both;
                display: block;

            }

            .vita{
                background-image: url("../img/vita-aluvia.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                resize: both;

            }

            .degres{
                background-image: url("../img/showroom-360.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                resize: both;


            }
        }

        #pub-col2{
            
            #col2_cadre1 {
                // volontairement diviser le parent par 3 afin de gagner un peu de temps.
                background-image: url(../img/i-shop-sundays_1.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: top center;
                height: 43%;
            }
            
            #col2_cadre2 {
                height: 57%;
                background-image: url(../img/home_page_corner.png);
                background-repeat: no-repeat;
                background-position: bottom right;
                position: relative;

                #ouverture_heures{
                    position: absolute;
                    z-index: 1;
                    color: $color_ishop_txt;
                    font-size: 1.8rem;
                    text-align: left;
                    margin-left: 1rem;
                    padding-right: 2rem;
                    padding-bottom: 2rem;
                    background-color: $color_w;
                }

                #ouverture_dates {
                    position: absolute;
                    z-index: 2;           
                    font-size: 0.9rem;
                    line-height: 1rem;
                    ul {
                        list-style: none; 
                        margin-top: 7rem;
                        margin-left: -1.5rem;
                        li:before{
                           content: "- "; 
                        }                    
                    }
                }

                #ouverture_suite{
                    position: absolute;
                    z-index: 3;
                    background-color: $color_w;
                    font-size: 0.9rem;
                    margin-top: 11rem;
                    margin-left: 9rem;
                    padding: 0.25rem;
                    line-height: 1rem;
                    border-radius: fn_pxtorem(5);
                }
            }
        }
    }
    
    
    /* Grosse modificaiton */
    
    #zone_infocontact{        
    flex-direction: row;
    
    
        #infocontact_info{
            margin-bottom: 0!important;
            margin-right: 1rem;
        }
        
        #infocontact_contact{            
            #contact_contenu{
                display: flex;    
                justify-content: space-between;
                #contenu_gauche{
                    textarea{
                        display: none!important;
                    }
                    
                }
                #contenu_droit{
                    flex-basis: calc(100% / 12 * 6 - 0.5 rem);
                    padding-right: 1rem;
                    padding-bottom: 1rem;
                    
                    textarea {
                        width: 100%;
                        height: 14rem;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
    
    /* ************************************************************************* */
    
    #zone-deploiement{
        .deploiement-menu{
            .sous_menu{
                padding-left: 2.5rem;
                span:hover{
                    background-color: $color_ariane;
                }
            }
        }
        
        /*  ====================================================================    
                comportement anormal : je me suis retrouvé dans l'obligation de 
                désactiver le comportement hérité de _sm sur cette page. 
                    - A contrôler
                        : fonctionnement du blindage inter-ecran
                        : utilisation de balises générique au lieu de _sm _md
            ====================================================================    */
        .deploiement-article_sm, .article-souscontainer_sm{
            display: none;
        }
        .deploiement-article_md{
            display: block; 
            margin-top: 1rem;
            .article-souscontainer_md:first-child{
                border: fn_pxtorem(1) solid grey!important;
            }
            .article-souscontainer_md{
                padding-top: 1rem;
                padding-left: 0rem;
                padding-bottom: 1rem;
                padding-right: 0rem;
                display: flex;
                width: 100%;
                border: fn_pxtorem(1) solid grey!important;
                
                .souscontainer-gauche{
                    flex-basis: calc(100% / 12 * 6 - 0.5rem)!important;
                    margin-right: 0.5rem;
                    padding: 0;
                    [class*="image"]{
                        @include noborder();
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        height: 100%;
                    }
                    .image1{                        
                        background-image: url(../img/content/IMG_7957x_z_275x275.jpg);                        
                    }
                    .image2{                        
                        background-image: url(../img/content/IMG_5792_275x275.jpg);                        
                    }
                    .image3{                        
                        background-image: url(../img/content/IMG_06579_275x275.jpg);                        
                    }
                    .image4{                        
                        background-image: url(../img/content/IMG_3291_275x275.jpg);                        
                    }
                    .image5{
                        background-image: url(../img/content/IMG_5793_275x275.jpg);
                    }
                    .image6{
                        background-image: url(../img/content/IMG_0797_275x275.jpg);
                    }
                    .image7{
                        background-image: url(../img/content/IMG_1898_275x275.jpg);
                    }
                    .image8{
                        background-image: url(../img/content/bert-jn-zw_275x275.jpg);                        
                    }
                }
                .souscontainer-droite{
                    flex-basis: calc(100% / 12 * 6 - 0.5rem)!important;
                    margin-left: 0.5rem;
                    padding: 0;
                    
                    .model,.texte,.prix{
                        margin: 0;
                        padding: 0;
                    }
                    
                    .model {
                        margin-bottom: 0.5rem;
                    }
                    .texte {
                        
                    }
                    .prix {
                        margin-top: 1rem;
                        padding: 0.2rem;
                    }
                }
            }
        }
    }
    
    
    
    
    /* ************************************************************************* */
    
    
    
}

.isl_google {
    iframe {
        width: 100%;
        height: 15rem;
    }
}

/* =============================================================================
            Vue ORDINATEUR
============================================================================= */
@media only screen and (min-width: fn_pxtorem($rupture_xl)){

    .container {
        width: 1024px;
        @include autocentrage ();
    }

    #zone-info {
        width: 40%;
        float: left;
    }

    #zone-contact {
        width: 60%;
    }

    [class*="sm"], [class*="md"], partsall_ln1xl_04{
        flex-basis: calc(100% / 12 *  0);
    }

    .partsall_ln1xl_02, .partsall_ln1xl_03,
    .detail_ln4xl_02,.detail_ln4xl_03,.detail_ln4xl_04,.detail_ln4xl_05, .deploiement-menu{
        flex-basis: calc(100% / 12 *  3);
    }

    .index_ln5xl_02,.index_ln5xl_03,.index_ln5xl_04
    .deploiement_gauche{
        flex-basis: calc(100% / 12 *  4);
    }

    .partsall_ln2xl_01, .partsall_ln2xl_02, .partsall_ln2xl_03, .partsall_ln2xl_04, .partsall_ln2xl_05{
        flex-basis: calc(100% / 5);
    }

    .partsall_ln1xl_01,
    .contact_ln6xl_02,
    .contact_ln6xl_03{
        flex-basis: calc(100% / 12 *  6);
    }

    .deploiement-article_xl,
    .deploiement_droite{
        flex-basis: calc(100% / 12 *  9);        
    }
    
    .nno {
        display: flex!important;
        width: 100%;
        flex-wrap: wrap!important;
        flex-basis: calc(100% / 12 *  9);
        background-color: transparent;
        justify-content: space-between;
    }

    .partsici_ln3xl_01,
    .contact_ln4xl_01,
    // ci-dessous : 12 de grille sur #zone-contact (60%)
    .contact_ln6xl_01,
    .index_ln5xl_01,
    .catalogue_ln4xl_01,.catalogue_ln4xl_02,.catalogue_ln4xl_03,.catalogue_ln4xl_04,
    .gauche_one, .gauche_four,
    .detail_ln4xl_01,
    #zone-deploiement {
        flex-basis: calc(100% / 12 *  12);
    }

    .partsall_ln1xl_04 {
        display: none;
    }

    #zone-info, #zone-banniere, .index_ln4xl_01 {
        display: block;
    }

    
    .souscontainer-gauche, .souscontainer-droite{
        width: 100%;
    }

    /*
    .article-souscontainer_xl{
        width: calc(100% / 3);
        float: left;
    }
    */
    

    .deploiement_gauche {
        display: flex;
        flex-wrap: wrap;
    }
  
    
    #zone-deploiement{
        .deploiement-menu{   
        }
        
              
        .nno{
            .nne:nth-of-type(3n+1){
                margin-left: 0rem;
            }
            .nne:last-child{
                margin-right: calc(100% / 12 * 4 + 0.25rem);
            }
            .nne {
                background-color: transparent;
                flex-basis: calc(100% / 12 * 4 - 0.5rem);
                height: 32rem;
                flex-direction: column;
                margin: 0rem; 
                margin-bottom: 1rem;
                
                .souscontainer-gauche{
                    
                }
                .souscontainer-droite{
                    margin: 0rem!important;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    
                    
                    .model{
                        margin-top: 0.5rem!important;
                    }
                    .texte{
                        height: 8rem;
                    }
                    .prix{
                        text-align: right;
                        margin-top: 2.3rem;
                        background-color: $color_w;
                    }
                }                
            } 
            .nne:hover{  
                box-shadow: 1px 1px 12px grey;
                .souscontainer-droite{
                    .prix{
                        background-color: $color_ariane;
                    }
                }
            }
        }                        
    }
    
    
    
    
    
    
}




/*
display: none!important;
display: block!important;
visibility: hidden;
flex-basis: calc(100% / 12 *  0);
flex-basis: calc(100% / 12 *  1);
flex-basis: calc(100% / 12 *  2);
flex-basis: calc(100% / 12 *  3);
flex-basis: calc(100% / 12 *  4);
flex-basis: calc(100% / 12 *  5);
flex-basis: calc(100% / 12 *  6);
flex-basis: calc(100% / 12 *  7);
flex-basis: calc(100% / 12 *  8);
flex-basis: calc(100% / 12 *  9);
flex-basis: calc(100% / 12 * 10);
flex-basis: calc(100% / 12 * 11);
flex-basis: calc(100% / 12 * 12);
*/